* {
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 50%;
  height: 28vw;
  object-fit: scale-down;
}

.img-src img {
  width: 500px;
  height: 28vw;
}

.text-src h2,
p,
button {
  margin: 8px;
}

.text-src h2 {
  font-size: 50px;
}
